.gridContainerPages {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    max-width: 1400px;
    margin: 20px auto;

    .articlePage {
        grid-column: span 3;
        margin: 20px auto;

        h2 {
            width: 80%;
            height: 3rem;
        }

        p {
            grid-column: span 3;
            font-size: 1.2rem;
        }
    }
}

@media screen and (max-width: 425px) {
    .gridContainerPages .articlePage {
        h2 {
            height: 3rem;
            width: 12rem;
        }
    }
}